@import "../Variable/Variable";


  #airlines{
    .container {
      margin-top: 8rem !important;
    }
  }
    .swiper-wrapper{
      width: 0px !important;
    }

    .swiper__container{
      width: 100%;
      overflow-x: clip !important;
    }
    .swiper{
      overflow: unset !important;
    }

    .swiper-pagination{
    position: absolute;
    top: 22rem !important;
    }

    
  #airlines {
    background-image: url(./Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 2.5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      width: 30rem;
      border-radius: 5rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      transition: all 0.2s linear;

      &__img {
        background-image: url(./Assets/5-airlines/arrowRight.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        width: 10%;
        height: 5rem;
      }

      &:hover .airlines__link__img {
        background-image: url(./Assets/5-airlines/arrowWhite.svg);
      }
      &:hover {
        background-color: $neon__blue--clr;
      }

      &:hover p {
        color: $white--clr;
      }

      p {
        font-family: montserrat-semibold;
        font-size: 2rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: block;
      //roozbeh bug
      /*
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;*/
      //   width: 100%;

      &__box {
        transition: all .2s ease-in-out !important;
        height: auto !important;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius:1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.09);
        z-index: 1;
        cursor: pointer;
        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 5rem;
          position: absolute;
          top: 100%;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 1rem 0;
          cursor: pointer;
          display: block;
          transition: all .2s linear;
          opacity: 0;
          outline: .1rem solid $neon__blue--clr;
          transform-origin: top;
          transform: scaleY(0);
          opacity: 0;
          box-shadow: 0rem 1rem 2rem -.8rem transparent;
        }

        &:hover {
          box-shadow: 0rem 0rem 2rem -.8rem $neon__blue--clr;
          border-radius: 1rem 1rem 0rem 0rem;
          &::after {
            transform: scaleY(1);
            opacity: 1;
            box-shadow: 0rem 1rem 2rem -.7rem $neon__blue--clr;
          }
        }
        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;
          align-items: flex-start;
          &__img {
            width: 3rem;
            img {
              width: 3rem;
              height: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-top: 2rem;
          &__region {
            display: flex;
            gap: 1rem;
            align-items: center;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            align-items: center;
            gap: 1rem;
            .options {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }
.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  .swiper__container {
    width: 90%;
    padding: 0 2rem 0 0;
    margin-left: 2rem;
  }
  .swiper-button-disabled {
    opacity: 0 !important;
    transition: all .3s ease-in;
  }
}

.swiper-button-disabled{
  display: none !important;
}

@media (max-width:600px){
  .swiper-button-prev, .swiper-button-next{
    // display: none;
    opacity: 0 !important;
  }

  

}