@import "../Variable/Variable";

@media (min-width: 1200px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        font-family: montserrat-semibold;
        font-size: 2.5rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      //   width: 100%;

      &__box {
        width: 30rem;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius: 1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s linear;

        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 5rem;
          position: absolute;
          top: 0;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 1rem 0;
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          cursor: pointer;
          display: none;
          transition: all 0.2s linear;
        }

        &:hover {
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          border-radius: 1rem 1rem 0 0;
        }

        &:hover::after {
          top: 100%;
          display: block;
        }

        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;

          &__img {
            img {
              width: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__region {
            display: flex;
            gap: 1rem;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        font-family: montserrat-semibold;
        font-size: 2.5rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      padding: 0 0 5rem 0;
      //   width: 100%;

      &__box {
        width: 30rem;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius: 1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s linear;
        margin-top: 3rem;

        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 4rem;
          position: absolute;
          top: 0;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 0.55rem 0;
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          cursor: pointer;
          display: none;
          transition: all 0.2s linear;
        }

        &:hover {
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          border-radius: 1rem 1rem 0 0;
        }

        &:hover::after {
          top: 100%;
          display: block;
        }

        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;

          &__img {
            img {
              width: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__region {
            display: flex;
            gap: 1rem;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        font-family: montserrat-semibold;
        font-size: 2.5rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      padding: 0 0 5rem 0;
      //   width: 100%;

      &__box {
        width: 30rem;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius: 1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s linear;
        margin-top: 3rem;

        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 4rem;
          position: absolute;
          top: 0;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 0.55rem 0;
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          cursor: pointer;
          display: none;
          transition: all 0.2s linear;
        }

        &:hover {
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          border-radius: 1rem 1rem 0 0;
        }

        &:hover::after {
          top: 100%;
          display: block;
        }

        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;

          &__img {
            img {
              width: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__region {
            display: flex;
            gap: 1rem;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        font-family: montserrat-semibold;
        font-size: 2.5rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      padding: 0 0 5rem 0;
      //   width: 100%;

      &__box {
        width: 25rem;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius: 1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s linear;
        margin-top: 3rem;

        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 4rem;
          position: absolute;
          top: 0;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 0.55rem 0;
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          cursor: pointer;
          display: none;
          transition: all 0.2s linear;
        }

        &:hover {
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          border-radius: 1rem 1rem 0 0;
        }

        &:hover::after {
          top: 100%;
          display: block;
        }

        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;

          &__img {
            img {
              width: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__region {
            display: flex;
            gap: 1rem;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            width: 30%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .airlines {
    transform: translateY(10%);
    display: flex;
    gap: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: montserrat-semibold;
      font-size: 5rem;
      text-align: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      p {
        font-family: montserrat-semibold;
        font-size: 2.5rem;
        color: $neon__blue--clr;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      padding: 0 0 5rem 0;
      //   width: 100%;

      &__box {
        width: 25rem;
        display: flex;
        position: relative;
        flex-direction: column;
        // gap: 4rem;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem 3rem;
        background-color: $white--clr;
        border-radius: 1rem;
        border: 1px solid $gray__30--clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s linear;
        margin-top: 3rem;

        &::after {
          content: "View Route";
          color: $white--clr;
          background-color: $neon__blue--clr;
          width: 100%;
          height: 4rem;
          position: absolute;
          top: 0;
          left: 0;
          font-family: whitney-semibold;
          font-size: 1.8rem;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid $neon__blue--clr;
          padding: 0.55rem 0;
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          cursor: pointer;
          display: none;
          transition: all 0.2s linear;
        }

        &:hover {
          box-shadow: $neon__blue--clr 0px 5px 10px 0px;
          border-radius: 1rem 1rem 0 0;
        }

        &:hover::after {
          top: 100%;
          display: block;
        }

        .comm {
          position: absolute;
          left: 100%;
          border: 1px solid $neon__blue--clr;
          border-radius: 0 1rem 0 1rem;
          color: $neon__blue--clr;
          position: absolute;
          left: 85%;
          top: -3%;
          background-color: $white--clr;
          z-index: 2;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__percent {
            p {
              font-family: whitney-semibold;
              font-size: 2rem;
            }
          }

          &__word {
            font-family: whitney-semibold;
            font-size: 1rem;
          }
        }

        .item__title {
          display: flex;
          gap: 2rem;

          &__img {
            img {
              width: 3rem;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .airline__name {
              font-family: whitney-semibold;
              font-size: 2rem;
            }

            .airline__country {
              font-family: whitney-book;
              font-size: 1.2rem;
            }
          }
        }

        .item__bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__region {
            display: flex;
            gap: 1rem;
            // width: 30%;
            // justify-content: space-between;

            .jq {
              color: $white--clr;
              background-color: $neon__blue--clr;
              padding: 1px 5px;
              font-family: montserrat-semibold;
              font-size: 1.2rem;
              border-radius: 0.5rem;
            }

            .region {
              font-family: montserrat-medium;
              font-size: 1.2rem;
              color: $gray__60--clr;
            }
          }

          &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3px;
            width: 30%;
          }
        }
      }
    }
  }
}
