.category {
     background-color: $smoth__blue--clr;
     .category__title {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: montserrat-semibold;
          font-size: 2.5rem;
     }
     .category__container {
          margin-top: 5rem;
          .categor__card__container {
               display: grid;
               grid-template-columns: repeat(auto-fit ,minmax(30rem,1fr));
               .category__card {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .category__image {
                         padding: 1rem;
                    }
                    .category__wrapper {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         gap: .5rem;
                         margin-top: 1rem;
                         .category__title {
                              position: relative;
                              font-family: montserrat-bold;
                              font-size: 3rem;
                              text-align: center;
                              &::after {
                                   display: table;
                                   clear: both;
                                   content: "+";
                                   position: absolute;
                                   top: -20%;
                                   left: 110%;
                                   font-size: 2.5rem;
                                   color: $gray__60--clr;
                              }
                         }
                         .category__type {
                              margin-top: 1.5rem;
                              font-family: montserrat-bold;
                              font-size: 2rem;
                              color: $neon__blue--clr;
                              text-align: center;
                         }
                         .category__description {
                              font-size: 1.5rem;
                              color: $gray__60--clr;
                              font-family: montserrat-medium;
                              text-align: center;
                         }
                    }
               }
          }

     }
}