#domestic{
    padding-bottom: 2rem;
    margin-top: 12rem;
    .container {
        width: 98%;
        margin: 0 auto;
        background-color: white;
        padding: 2rem 4rem;
        border-radius:5rem;
        background-color: white;
        box-shadow: 0rem 0rem 1rem 1rem $gray__10--clr;
        h2 {
            margin-top: 2rem;
            font-size: 3rem;
            font-family: montserrat-semibold;
            position: relative;
            top: 3rem;
        }
    }   
    .totaldom {
        // padding: 2rem 5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        margin-top: 10rem;
        gap: 2rem;
        // h2 {
            
        // }
       
        .img_container {
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span {
                position: absolute;
                right: -0.5rem;
                top: -0.5rem;
                color: $gray__10--clr;
                padding: 0.5rem;
                background-color: $neon__blue--clr;
                border-radius: 0 1rem 0 1rem;
                font-family: montserrat-medium;
            }
            .cheap {
                background-color: $primary__orange--clr;
            }
        }
        .text {
            font-size: 2.2rem;
            font-weight: 500;
            font-family: montserrat-medium;
            display: flex;
            justify-content: flex-end;
            margin: 1.5rem 0;
        }
        .text-right {
            text-align: right;
        }
        .china_total {
            grid-column:1/2 ;
            grid-row: 1/2;
        }
        .japan_total {
            grid-column:1/2 ;
            grid-row: 2/3;
            margin-top: -4rem;
        }
        .us_total {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .russia_total {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .korea_total {
            grid-column: 3/4;
            grid-row: 1/2;
            margin-top: -3rem;
        }
        .turkey_total {
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .european_total {
            grid-column: 4/-1;
            grid-row: 1/2;
            margin-top: -13rem;
        }
        .asia_total {
            grid-column: 4/-1;
            grid-row: 2/3;
            margin-top: -13rem;
        }   
    }
}