@import "../Variable/Variable.scss";

#features {
  margin: 2rem 0 0 0;
  // width: 100vw;
  // height: 100vh;
  background-image: url("../../Assets/3-features/backgroundFeatures.svg");
  background-repeat: no-repeat;
  background-position: 0rem 20rem;
  background-size: cover;

  .features {
    display: flex;
    // gap: 5rem;
    flex-direction: column;
    justify-content: center;

    &__title {
      display: flex;
      justify-content: center;

      p {
        font-family: montserrat-semibold;
        font-size: 4.5rem;
      }
    }

    &__items {
      z-index: 1;
      background-image: url("../../Assets/3-features/lineFeatures.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: flex;
      justify-content: center;
      gap: 10rem;
      margin: 10rem 0 0 0;

      &__1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        align-items: center;
        width: 40%;
        margin: 5rem 0 0 0;

        .advanced-search {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $white--clr;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border: 1px solid $gray__10--clr;
          border-radius: 2rem;
          gap: 3rem;
          padding: 4rem 3rem;
          width: 90%;

          &__title {
            p {
              font-family: montserrat-bold;
              font-size: 2.5rem;
              color: $neon__blue--clr;
              text-overflow: auto;
              text-align: center;
            }
          }

          &__img {
            img {
              width: 23rem;
            }
          }

          &__text {
            width: 70%;
            p {
              font-family: whitney-book;
              color: $gray__60--clr;
              text-align: center;
            }
          }
        }

        .automatic-sales {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $white--clr;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border: 1px solid $gray__10--clr;
          border-radius: 2rem;
          gap: 3rem;
          padding: 4rem 5rem;
          width: 90%;

          &__title {
            p {
              // width: 80%;
              font-family: montserrat-bold;
              font-size: 2.5rem;
              color: $neon__blue--clr;
              text-overflow: auto;
              text-align: center;
            }
          }

          &__img {
            img {
              width: 23rem;
            }
          }

          &__text {
            width: 70%;
            p {
              font-family: whitney-book;
              color: $gray__60--clr;
              text-align: center;
            }
          }
        }
      }
      &__2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        align-items: center;
        width: 35%;
        margin: -10rem 0 0 0;

        .invoices {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $white--clr;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border: 1px solid $gray__10--clr;
          border-radius: 2rem;
          gap: 4rem;
          padding: 5rem 0;
          width: 90%;

          &__title {
            p {
              font-family: montserrat-bold;
              font-size: 2.5rem;
              color: $neon__blue--clr;
            }
          }

          &__img {
            img {
              width: 23rem;
            }
          }

          &__text {
            width: 70%;
            p {
              font-family: whitney-book;
              color: $gray__60--clr;
              text-align: center;
            }
          }
        }

        .custom {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $white--clr;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border: 1px solid $gray__10--clr;
          border-radius: 2rem;
          gap: 4rem;
          padding: 5rem 3rem;
          width: 90%;

          &__title {
            p {
              font-family: montserrat-bold;
              font-size: 2.5rem;
              color: $neon__blue--clr;
              text-overflow: auto;
              text-align: center;
            }
          }

          &__img {
            img {
              width: 23rem;
            }
          }

          &__text {
            width: 70%;
            p {
              font-family: whitney-book;
              color: $gray__60--clr;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.features__item {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3rem;
    top: 3rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(
      144deg,
      rgba(147, 247, 255, 1) 0%,
      rgba(119, 207, 255, 1) 61%,
      rgba(31, 81, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      144deg,
      rgba(147, 247, 255, 1) 0%,
      rgba(119, 207, 255, 1) 61%,
      rgba(31, 81, 255, 1) 100%
    );
    background: linear-gradient(
      144deg,
      rgba(147, 247, 255, 1) 0%,
      rgba(119, 207, 255, 1) 61%,
      rgba(31, 81, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
