.hero {
     /*
     display: table;
     display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;display: table;
     clear: both;
     clear: both;*/
}