body {
    background-image: none;
}


@media screen and (min-width: 1200px) {
    #who_can_join {
        width: 98%;
        margin: 0 auto;
        .total_container {
            padding: 5rem;
        }
        h2 {
            text-align: center;
            font-family: montserrat-semibold;
            font-size: 4rem;
            
        }
        .blue-col {
            color: $neon__blue--clr;
            margin-top: 2rem;
            font-size: 1.5rem;
        }
        .total__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 8rem;
        }
        .grid__items {
            @include flex(column,none,center,2rem);
            
            .grid__items__top {
                text-align: center;
                span {
                    font-size: 2rem;
                    font-family: montserrat-bold;
                }
            }
            .grid__items__bottom {
                background: url(/Assets/9-join/circle.svg) no-repeat;
                background-position: top;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media (min-width: 991px) and (max-width: 1199px) {
    #who_can_join {
        width: 98%;
        margin: 0 auto;
        .total_container {
            padding: 5rem;
        }
        h2 {
            text-align: center;
            font-family: montserrat-semibold;
            font-size: 4rem;
            
        }
        .blue-col {
            color: $neon__blue--clr;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-family: whitney-semibold;
        }
        .total__grid {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
            gap: 3rem;
            margin-top: 8rem;
        }
        .grid__items {
            @include flex(column,none,center,2rem);
            
            .grid__items__top {
                text-align: center;
                span {
                    font-size: 2rem;
                    font-family: montserrat-bold;
                }
            }
            .grid__items__bottom {
                background: url(/Assets/9-join/circle.svg) no-repeat;
                background-position: top;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 990px) {
    #who_can_join {
        width: 98%;
        margin: 0 auto;
        .total_container {
            padding: 5rem;
        }
        h2 {
            text-align: center;
            font-family: montserrat-semibold;
            font-size: 4rem;
            
        }
        .blue-col {
            color: $neon__blue--clr;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-family: whitney-semibold;
        }
        .total__grid {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
            margin-top: 8rem;
            gap: 3rem;
        }
        .grid__items {
            @include flex(column,none,center,2rem);
            
            .grid__items__top {
                text-align: center;
                span {
                    font-size: 2rem;
                    font-family: montserrat-bold;
                }
            }
            .grid__items__bottom {
                background: url(/Assets/9-join/circle.svg) no-repeat;
                background-position: top;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media (min-width: 601px) and (max-width: 767px) {
    #who_can_join {
        width: 98%;
        margin: 0 auto;
        .total_container {
            padding: 5rem;
        }
        h2 {
            text-align: center;
            font-family: montserrat-semibold;
            font-size: 4rem;
            
        }
        .blue-col {
            color: $neon__blue--clr;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-family: whitney-semibold;
        }
        .total__grid {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
            margin-top: 8rem;
            gap: 3rem;
        }
        .grid__items {
            @include flex(column,none,center,2rem);
            
            .grid__items__top {
                text-align: center;
                span {
                    font-size: 2rem;
                    font-family: montserrat-bold;
                }
            }
            .grid__items__bottom {
                background: url(/Assets/9-join/circle.svg) no-repeat;
                background-position: top;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media (max-width: 600px) {
    #who_can_join {
        width: 98%;
        margin: 0 auto;
        .total_container {
            padding: 5rem;
        }
        h2 {
            text-align: center;
            font-family: montserrat-semibold;
            font-size: 4rem;
            
        }
        .blue-col {
            color: $neon__blue--clr;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-family: whitney-semibold;
        }
        .total__grid {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
            margin-top: 8rem;
            gap: 3rem;
        }
        .grid__items {
            @include flex(column,none,center,2rem);
            
            .grid__items__top {
                text-align: center;
                span {
                    font-size: 2rem;
                    font-family: montserrat-bold;
                }
            }
            .grid__items__bottom {
                background: url(/Assets/9-join/circle.svg) no-repeat;
                background-position: top;
                
              
            }
        }
    }
}
// @media screen and (max-width: 768px) {
//     .total{
//         h2 {
//             font-size: 2.5rem !important;
//         }
//         .blue-col {
//             font-size: 1.2rem !important;
//         }
//     }
//    .total__grid {
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(4, 1fr);
//     margin-top: 2rem !important;
//    }
//     .grid__items {
//         grid-column: 1/-1;
//         margin-top: 3rem;
//         .grid__items__bottom {
//             margin-top: 1rem;
//         }
//     }
//     .grid__items__1 {
        
//         grid-row: 1/2;
//     }
//     .grid__items__2 {
        
//         grid-row: 2/3;
//     }
//     .grid__items__3 {
        
//         grid-row: 3/4;
//     }
//     .grid__items__4 {
        
//         grid-row: 4/5;
//     }

// }