*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  max-height: 100%;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

a {
  color: #464646;
  text-decoration: none;
}
a:focus {
  color: #464646;
  text-decoration: none;
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
.hero {
  background: 0;
  background-image: url("../../Assets/1-home/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.hero .hero__container .hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.hero .hero__container .hero__header img {
  width: 10rem;
}
.hero .hero__container .hero__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.hero .hero__container .hero__wrapper .hero--book {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  align-items: center;
}
.hero .hero__container .hero__wrapper .hero--book .left--side, .hero .hero__container .hero__wrapper .hero--book .right--side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--title h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: montserrat-bold;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button {
  margin-top: 4rem;
  border: 0.2rem solid #1f51ff;
  padding: 1rem 3rem;
  border-radius: 100rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  background-color: transparent;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover {
  background-color: #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover button {
  color: white;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button button {
  position: inherit;
  color: #1f51ff;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 375;
  font-family: whitney-semibold;
  transition: all 0.3s ease-in-out;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button::before {
  width: 100%;
  height: 100%;
  background-color: #1f51ff;
  content: "";
  clear: both;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  top: 0;
  right: 0;
  transition: transform 0.5s cubic-bezier(0.03, 1.51, 0.44, 0.82);
  border: 1rem solid #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--book .right--side {
  height: 30rem;
  -webkit-animation: flow 6s linear infinite;
          animation: flow 6s linear infinite;
}
.hero .hero__container .hero__wrapper .hero--platform {
  margin-top: 5rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform--title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: montserrat-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card {
  width: 25rem;
  background-color: white;
  border-radius: 3rem;
  padding: 4rem 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.253);
  transition: all 0.3s ease-in-out;
  transform: translate(0, 0%);
  cursor: pointer;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card:hover {
  box-shadow: 1rem 1.5rem 1rem rgba(0, 0, 0, 0.253);
  transform: translate(0, -1%);
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--card__image {
  height: 20rem;
  width: 100%;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail .platform--card__name p {
  font-size: 2.5rem;
  font-family: whitney-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail .platform--card__description p {
  font-size: 2rem;
  font-family: whitney-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .flight .platform--card__description {
  color: #fc6334;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .hotels {
  margin-top: 3rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .hotels .platform--card__description {
  color: #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .tours .platform--card__description {
  color: #fc6334;
}
.hero .hero__container .hero__description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 10rem;
}
.hero .hero__container .hero__description p {
  font-size: 2rem;
  color: white;
  margin-top: 3rem;
  font-family: whitney-semibold;
}

@-webkit-keyframes flow {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(-3%);
  }
}

@keyframes flow {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(-3%);
  }
}
@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
#features {
  margin: 2rem 0 0 0;
  background-image: url("../../Assets/3-features/backgroundFeatures.svg");
  background-repeat: no-repeat;
  background-position: 0rem 20rem;
  background-size: cover;
}
#features .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#features .features__title {
  display: flex;
  justify-content: center;
}
#features .features__title p {
  font-family: montserrat-semibold;
  font-size: 4.5rem;
}
#features .features__items {
  z-index: 1;
  background-image: url("../../Assets/3-features/lineFeatures.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 10rem 0 0 0;
}
#features .features__items__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-items: center;
  width: 40%;
  margin: 5rem 0 0 0;
}
#features .features__items__1 .advanced-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 3rem;
  padding: 4rem 3rem;
  width: 90%;
}
#features .features__items__1 .advanced-search__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__1 .advanced-search__img img {
  width: 23rem;
}
#features .features__items__1 .advanced-search__text {
  width: 70%;
}
#features .features__items__1 .advanced-search__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__1 .automatic-sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 3rem;
  padding: 4rem 5rem;
  width: 90%;
}
#features .features__items__1 .automatic-sales__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__1 .automatic-sales__img img {
  width: 23rem;
}
#features .features__items__1 .automatic-sales__text {
  width: 70%;
}
#features .features__items__1 .automatic-sales__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-items: center;
  width: 35%;
  margin: -10rem 0 0 0;
}
#features .features__items__2 .invoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 4rem;
  padding: 5rem 0;
  width: 90%;
}
#features .features__items__2 .invoices__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
}
#features .features__items__2 .invoices__img img {
  width: 23rem;
}
#features .features__items__2 .invoices__text {
  width: 70%;
}
#features .features__items__2 .invoices__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__2 .custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 4rem;
  padding: 5rem 3rem;
  width: 90%;
}
#features .features__items__2 .custom__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__2 .custom__img img {
  width: 23rem;
}
#features .features__items__2 .custom__text {
  width: 70%;
}
#features .features__items__2 .custom__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}

.features__item {
  position: relative;
}
.features__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3rem;
  top: 3rem;
  background: rgb(147, 247, 255);
  background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
  border-radius: 2.5rem;
  z-index: -1;
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
.category {
  background-color: #F8FAFB;
}
.category .category__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: montserrat-semibold;
  font-size: 2.5rem;
}
.category .category__container {
  margin-top: 5rem;
}
.category .category__container .categor__card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.category .category__container .categor__card__container .category__card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category .category__container .categor__card__container .category__card .category__image {
  padding: 1rem;
}
.category .category__container .categor__card__container .category__card .category__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.category .category__container .categor__card__container .category__card .category__wrapper .category__title {
  position: relative;
  font-family: montserrat-bold;
  font-size: 3rem;
  text-align: center;
}
.category .category__container .categor__card__container .category__card .category__wrapper .category__title::after {
  display: table;
  clear: both;
  content: "+";
  position: absolute;
  top: -20%;
  left: 110%;
  font-size: 2.5rem;
  color: #989898;
}
.category .category__container .categor__card__container .category__card .category__wrapper .category__type {
  margin-top: 1.5rem;
  font-family: montserrat-bold;
  font-size: 2rem;
  color: #1f51ff;
  text-align: center;
}
.category .category__container .categor__card__container .category__card .category__wrapper .category__description {
  font-size: 1.5rem;
  color: #989898;
  font-family: montserrat-medium;
  text-align: center;
}

.footer .footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
  gap: 10rem;
}
.footer .footer__container .footer--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.footer .footer__container .footer--left .footer--description {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: whitney-book;
  font-size: 1.8rem;
  color: #989898;
  gap: 6rem;
}
.footer .footer__container .footer--left .footer--description::after {
  width: 40%;
  display: table;
  clear: both;
  content: "";
  border-bottom: 0.3rem solid #c9c9c9;
}
.footer .footer__container .footer--left .footer--copyright {
  margin-top: 6.5rem;
  font-family: whitney-book;
  font-size: 1.8rem;
  color: #989898;
}
.footer .footer__container .footer--right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
}
.footer .footer__container .footer--right .footer--right__title {
  font-family: whitney-semibold;
  font-size: 2.5rem;
  color: #000000;
}
.footer .footer__container .footer--right .contact__container {
  display: grid;
  gap: 2rem;
}
.footer .footer__container .footer--right .contact__container .contact {
  display: flex;
  align-items: center;
  font-family: whitney-book;
  font-size: 1.8rem;
  color: #464646;
  gap: 2rem;
}
.footer .footer__container .footer--right .contact__container .contact::before {
  display: table;
  clear: both;
  content: "";
  background-size: 4rem;
  width: 3rem;
  height: 3rem;
  background-image: url("../../Assets/15-contact/location.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .footer__container .footer--right .contact__container .phone::before {
  background-image: url("../../Assets/15-contact/phone.svg");
}
.footer .footer__container .footer--right .contact__container .mail::before {
  background-image: url("../../Assets/15-contact/mail.svg");
}
.footer .footer__container .footer--right .socialmedia {
  display: flex;
  gap: 1rem;
}
.footer .footer__container .footer--right .socialmedia .socail {
  width: 4rem;
  height: 4rem;
}/*# sourceMappingURL=Style.css.map */