*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, #fff 0%, #eaeaea 51%, #fff 75%);
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

a {
  color: #464646;
  text-decoration: none;
}
a:focus {
  color: #464646;
  text-decoration: none;
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
body {
  background-image: none;
  font-family: montserrat;
}

.container {
  width: 98%;
  margin: 0 auto;
}
.container h2 {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: montserrat-semibold;
  position: relative;
  top: 3rem;
}

.total {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-top: 10rem;
  gap: 2rem;
}
.total .img_container {
  position: relative;
}
.total .img_container img {
  width: 100%;
  object-fit: cover;
}
.total .img_container span {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  color: #f2f8ff;
  padding: 0.5rem;
  background-color: #1f51ff;
  border-radius: 0 1rem 0 1rem;
  font-family: montserrat-medium;
}
.total .img_container .cheap {
  background-color: #fc6334;
}

.text {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: montserrat-medium;
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.text-right {
  text-align: right;
}

.china_total {
  grid-column: 1/2;
  grid-row: 1/2;
}

.japan_total {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -4rem;
}

.us_total {
  grid-column: 2/3;
  grid-row: 1/2;
}

.russia_total {
  grid-column: 2/3;
  grid-row: 2/3;
}

.korea_total {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: -3rem;
}

.turkey_total {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: -13rem;
}

.european_total {
  grid-column: 4/-1;
  grid-row: 1/2;
  margin-top: -13rem;
}

.asia_total {
  grid-column: 4/-1;
  grid-row: 2/3;
  margin-top: -13rem;
}

@media screen and (max-width: 768px) {
  .total {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .china_total {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .japan_total {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .us_total {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .russia_total {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .korea_total {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .turkey_total {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .european_total {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .asia_total {
    grid-column: 1/2;
    grid-row: 8/-1;
  }
  .img_container img {
    width: 100%;
    object-fit: cover;
    padding: 0 1rem;
  }
  .text {
    margin-top: 1rem;
    font-size: 2rem;
  }
}/*# sourceMappingURL=domestic.css.map */