*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
.hero {
  /*
  display: table;
  display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;display: table;
  clear: both;
  clear: both;*/
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
#features {
  margin: 2rem 0 0 0;
  background-image: url("../../Assets/3-features/backgroundFeatures.svg");
  background-repeat: no-repeat;
  background-position: 0rem 20rem;
  background-size: cover;
}
#features .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#features .features__title {
  display: flex;
  justify-content: center;
}
#features .features__title p {
  font-family: montserrat-semibold;
  font-size: 4.5rem;
}
#features .features__items {
  z-index: 1;
  background-image: url("../../Assets/3-features/lineFeatures.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 10rem 0 0 0;
}
#features .features__items__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-items: center;
  width: 40%;
  margin: 5rem 0 0 0;
}
#features .features__items__1 .advanced-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 3rem;
  padding: 4rem 3rem;
  width: 90%;
}
#features .features__items__1 .advanced-search__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__1 .advanced-search__img img {
  width: 23rem;
}
#features .features__items__1 .advanced-search__text {
  width: 70%;
}
#features .features__items__1 .advanced-search__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__1 .automatic-sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 3rem;
  padding: 4rem 5rem;
  width: 90%;
}
#features .features__items__1 .automatic-sales__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__1 .automatic-sales__img img {
  width: 23rem;
}
#features .features__items__1 .automatic-sales__text {
  width: 70%;
}
#features .features__items__1 .automatic-sales__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-items: center;
  width: 35%;
  margin: -10rem 0 0 0;
}
#features .features__items__2 .invoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 4rem;
  padding: 5rem 0;
  width: 90%;
}
#features .features__items__2 .invoices__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
}
#features .features__items__2 .invoices__img img {
  width: 23rem;
}
#features .features__items__2 .invoices__text {
  width: 70%;
}
#features .features__items__2 .invoices__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}
#features .features__items__2 .custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #f2f8ff;
  border-radius: 2rem;
  gap: 4rem;
  padding: 5rem 3rem;
  width: 90%;
}
#features .features__items__2 .custom__title p {
  font-family: montserrat-bold;
  font-size: 2.5rem;
  color: #1f51ff;
  text-overflow: auto;
  text-align: center;
}
#features .features__items__2 .custom__img img {
  width: 23rem;
}
#features .features__items__2 .custom__text {
  width: 70%;
}
#features .features__items__2 .custom__text p {
  font-family: whitney-book;
  color: #989898;
  text-align: center;
}

.features__item {
  position: relative;
}
.features__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3rem;
  top: 3rem;
  background: rgb(147, 247, 255);
  background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
  background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
  background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
  border-radius: 2.5rem;
  z-index: -1;
}/*# sourceMappingURL=Style.css.map */