*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, #fff 0%, #eaeaea 51%, #fff 75%);
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
.hero {
  background: 0;
  background-image: url("../../Assets/1-home/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.hero .hero__container .hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.hero .hero__container .hero__header img {
  width: 10rem;
}
.hero .hero__container .hero__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.hero .hero__container .hero__wrapper .hero--book {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  align-items: center;
}
.hero .hero__container .hero__wrapper .hero--book .left--side, .hero .hero__container .hero__wrapper .hero--book .right--side {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--title h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: montserrat-bold;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button {
  margin-top: 4rem;
  border: 0.2rem solid #1f51ff;
  padding: 1rem 3rem;
  border-radius: 100rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: max-content;
  overflow: hidden;
  background-color: transparent;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover {
  background-color: #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button:hover button {
  color: white;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button button {
  position: inherit;
  color: #1f51ff;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 375;
  font-family: whitney-semibold;
  transition: all 0.3s ease-in-out;
}
.hero .hero__container .hero__wrapper .hero--book .left--side .left--side__container .hero--button::before {
  width: 100%;
  height: 100%;
  background-color: #1f51ff;
  content: "";
  clear: both;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  top: 0;
  right: 0;
  transition: transform 0.5s cubic-bezier(0.03, 1.51, 0.44, 0.82);
  border: 1rem solid #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--book .right--side {
  height: 30rem;
  animation: flow 6s linear infinite;
}
.hero .hero__container .hero__wrapper .hero--platform {
  margin-top: 5rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform--title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: montserrat-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card {
  width: 25rem;
  background-color: white;
  border-radius: 3rem;
  padding: 4rem 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.253);
  transition: all 0.3s ease-in-out;
  transform: translate(0, 0%);
  cursor: pointer;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card:hover {
  box-shadow: 1rem 1.5rem 1rem rgba(0, 0, 0, 0.253);
  transform: translate(0, -1%);
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--card__image {
  height: 20rem;
  width: 100%;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail .platform--card__name p {
  font-size: 2.5rem;
  font-family: whitney-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .platform--card .platform--detail .platform--card__description p {
  font-size: 2rem;
  font-family: whitney-semibold;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .flight .platform--card__description {
  color: #fc6334;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .hotels {
  margin-top: 3rem;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .hotels .platform--card__description {
  color: #1f51ff;
}
.hero .hero__container .hero__wrapper .hero--platform .platform__container .tours .platform--card__description {
  color: #fc6334;
}
.hero .hero__container .hero__description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 10rem;
}
.hero .hero__container .hero__description p {
  font-size: 2rem;
  color: white;
  margin-top: 3rem;
  font-family: whitney-semibold;
}

@keyframes flow {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(-3%);
  }
}
@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
<<<<<<< HEAD
.title {
  color: #000000;
=======
@media screen and (min-width: 1200px) {
  #features {
    padding: 0 0 5rem 0;
    margin: 2rem 0 0 0;
    background-image: url("../../Assets/3-features/backgroundFeatures.svg");
    background-repeat: no-repeat;
    background-position: 0rem 20rem;
    background-size: cover;
  }
  #features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #features .features__title {
    display: flex;
    justify-content: center;
  }
  #features .features__title p {
    font-family: montserrat-semibold;
    font-size: 4.5rem;
  }
  #features .features__items {
    z-index: 1;
    background-image: url("../../Assets/3-features/lineFeatures.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 10rem 0 0 0;
  }
  #features .features__items__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__1 .advanced-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 4rem 3rem;
    max-width: 30%;
  }
  #features .features__items__1 .advanced-search__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__1 .advanced-search__img img {
    width: 23rem;
  }
  #features .features__items__1 .advanced-search__text {
    width: 70%;
  }
  #features .features__items__1 .advanced-search__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__1 .invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 4rem;
    padding: 5rem 0;
    max-width: 30%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__1 .invoices__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  #features .features__items__1 .invoices__img img {
    width: 23rem;
  }
  #features .features__items__1 .invoices__text {
    width: 70%;
  }
  #features .features__items__1 .invoices__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__2 .automatic-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 4rem 5rem;
    max-width: 30%;
  }
  #features .features__items__2 .automatic-sales__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .automatic-sales__img img {
    width: 23rem;
  }
  #features .features__items__2 .automatic-sales__text {
    width: 70%;
  }
  #features .features__items__2 .automatic-sales__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 4rem;
    padding: 3.5rem 3rem;
    max-width: 30%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__2 .custom__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .custom__img img {
    width: 23rem;
  }
  #features .features__items__2 .custom__text {
    width: 70%;
  }
  #features .features__items__2 .custom__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  .features__item {
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3rem;
    top: 3rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  #features {
    padding: 0 0 5rem 0;
    margin: 2rem 0 0 0;
    background-image: url("../../Assets/3-features/backgroundFeatures.svg");
    background-repeat: no-repeat;
    background-position: 0rem 20rem;
    background-size: cover;
  }
  #features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #features .features__title {
    display: flex;
    justify-content: center;
  }
  #features .features__title p {
    font-family: montserrat-semibold;
    font-size: 4rem;
  }
  #features .features__items {
    z-index: 1;
    background-image: url("../../Assets/3-features/lineFeatures.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 10rem 0 0 0;
  }
  #features .features__items__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__1 .advanced-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 4rem 3rem;
    max-width: 40%;
  }
  #features .features__items__1 .advanced-search__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__1 .advanced-search__img img {
    width: 23rem;
  }
  #features .features__items__1 .advanced-search__text {
    width: 70%;
  }
  #features .features__items__1 .advanced-search__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__1 .invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 4rem;
    padding: 5rem 0;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__1 .invoices__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  #features .features__items__1 .invoices__img img {
    width: 23rem;
  }
  #features .features__items__1 .invoices__text {
    width: 70%;
  }
  #features .features__items__1 .invoices__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__2 .automatic-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 4rem 5rem;
    max-width: 40%;
  }
  #features .features__items__2 .automatic-sales__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .automatic-sales__img img {
    width: 23rem;
  }
  #features .features__items__2 .automatic-sales__text {
    width: 70%;
  }
  #features .features__items__2 .automatic-sales__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 4rem;
    padding: 3.5rem 3rem;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__2 .custom__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .custom__img img {
    width: 23rem;
  }
  #features .features__items__2 .custom__text {
    width: 70%;
  }
  #features .features__items__2 .custom__text p {
    font-size: 1.7rem;
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  .features__item {
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  #features {
    padding: 0 0 5rem 0;
    margin: 2rem 0 0 0;
    background-image: url("../../Assets/3-features/backgroundFeatures.svg");
    background-repeat: no-repeat;
    background-position: 0rem 20rem;
    background-size: cover;
  }
  #features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #features .features__title {
    display: flex;
    justify-content: center;
  }
  #features .features__title p {
    font-family: montserrat-semibold;
    font-size: 4rem;
  }
  #features .features__items {
    z-index: 1;
    background-image: url("../../Assets/3-features/lineFeatures.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 10rem 0 0 0;
  }
  #features .features__items__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__1 .advanced-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 3rem;
    max-width: 40%;
  }
  #features .features__items__1 .advanced-search__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__1 .advanced-search__img img {
    width: 15rem;
  }
  #features .features__items__1 .advanced-search__text {
    width: 90%;
  }
  #features .features__items__1 .advanced-search__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__1 .invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 5rem 0;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__1 .invoices__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  #features .features__items__1 .invoices__img img {
    width: 15rem;
  }
  #features .features__items__1 .invoices__text {
    width: 70%;
  }
  #features .features__items__1 .invoices__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__2 .automatic-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 5rem;
    max-width: 40%;
  }
  #features .features__items__2 .automatic-sales__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .automatic-sales__img img {
    width: 15rem;
  }
  #features .features__items__2 .automatic-sales__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 3.5rem 3rem;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__2 .custom__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .custom__img img {
    width: 15rem;
  }
  #features .features__items__2 .custom__text {
    width: 70%;
  }
  #features .features__items__2 .custom__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  .features__item {
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  #features {
    padding: 0 0 5rem 0;
    margin: 2rem 0 0 0;
    background-image: url("../../Assets/3-features/backgroundFeatures.svg");
    background-repeat: no-repeat;
    background-position: 0rem 20rem;
    background-size: cover;
  }
  #features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #features .features__title {
    display: flex;
    justify-content: center;
  }
  #features .features__title p {
    font-family: montserrat-semibold;
    font-size: 4rem;
  }
  #features .features__items {
    z-index: 1;
    background-image: url("../../Assets/3-features/lineFeatures.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 10rem 0 0 0;
  }
  #features .features__items__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__1 .advanced-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 3rem;
    max-width: 40%;
  }
  #features .features__items__1 .advanced-search__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__1 .advanced-search__img img {
    width: 15rem;
  }
  #features .features__items__1 .advanced-search__text {
    width: 90%;
  }
  #features .features__items__1 .advanced-search__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__1 .invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 5rem 0;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__1 .invoices__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  #features .features__items__1 .invoices__img img {
    width: 15rem;
  }
  #features .features__items__1 .invoices__text {
    width: 70%;
  }
  #features .features__items__1 .invoices__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__2 .automatic-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 5rem;
    max-width: 40%;
  }
  #features .features__items__2 .automatic-sales__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .automatic-sales__img img {
    width: 15rem;
  }
  #features .features__items__2 .automatic-sales__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 3.5rem 3rem;
    max-width: 40%;
    margin: -15rem 0 0 0;
  }
  #features .features__items__2 .custom__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .custom__img img {
    width: 15rem;
  }
  #features .features__items__2 .custom__text {
    width: 70%;
  }
  #features .features__items__2 .custom__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  .features__item {
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
@media (max-width: 600px) {
  #features {
    padding: 0 0 5rem 0;
    margin: 2rem 0 0 0;
    background-image: url("../../Assets/3-features/backgroundFeatures.svg");
    background-repeat: no-repeat;
    background-position: 0rem 20rem;
    background-size: cover;
  }
  #features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #features .features__title {
    display: flex;
    justify-content: center;
  }
  #features .features__title p {
    font-family: montserrat-semibold;
    font-size: 4rem;
  }
  #features .features__items {
    z-index: 1;
    background-image: url("../../Assets/2-benefits/Line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 5rem 0 0 0;
  }
  #features .features__items__1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__1 .advanced-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 3rem;
    max-width: 80%;
  }
  #features .features__items__1 .advanced-search__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__1 .advanced-search__img img {
    width: 15rem;
  }
  #features .features__items__1 .advanced-search__text {
    width: 90%;
  }
  #features .features__items__1 .advanced-search__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__1 .invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 3rem;
    padding: 5rem 0;
    max-width: 80%;
  }
  #features .features__items__1 .invoices__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  #features .features__items__1 .invoices__img img {
    width: 15rem;
  }
  #features .features__items__1 .invoices__text {
    width: 70%;
  }
  #features .features__items__1 .invoices__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    align-items: center;
  }
  #features .features__items__2 .automatic-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 4rem 5rem;
    max-width: 80%;
  }
  #features .features__items__2 .automatic-sales__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .automatic-sales__img img {
    width: 15rem;
  }
  #features .features__items__2 .automatic-sales__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  #features .features__items__2 .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #f2f8ff;
    border-radius: 2rem;
    gap: 2rem;
    padding: 3.5rem 3rem;
    max-width: 80%;
  }
  #features .features__items__2 .custom__title p {
    font-family: montserrat-bold;
    font-size: 2.5rem;
    color: #1f51ff;
    text-overflow: auto;
    text-align: center;
  }
  #features .features__items__2 .custom__img img {
    width: 15rem;
  }
  #features .features__items__2 .custom__text {
    width: 70%;
  }
  #features .features__items__2 .custom__text p {
    font-family: whitney-book;
    color: #989898;
    text-align: center;
  }
  .features__item {
    position: relative;
  }
  .features__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    background: rgb(147, 247, 255);
    background: -moz-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: -webkit-linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    background: linear-gradient(144deg, rgb(147, 247, 255) 0%, rgb(119, 207, 255) 61%, rgb(31, 81, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93f7ff",endColorstr="#1f51ff",GradientType=1);
    border-radius: 2.5rem;
    z-index: -1;
  }
}
@font-face {
  font-family: montserrat-bold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../../Assets/fonts/montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: whitney-semibold;
  src: url(../../Assets/fonts/whitney/whitneysemibold.otf);
}
@font-face {
  font-family: whitney-book;
  src: url(../../Assets/fonts/whitney/whitneybook.otf);
}
@font-face {
  font-family: whitney-book-italic;
  src: url(../../Assets/fonts/whitney/whitneybookitalic.otf);
}
@media (min-width: 1200px) {
  #airlines {
    background-image: url(../../Assets/5-airlines/backgroundAirlines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .airlines {
    padding: 10rem 0 0 0;
    display: flex;
    gap: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .airlines__title {
    font-family: montserrat-semibold;
    font-size: 5rem;
    text-align: center;
  }
  .airlines__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  .airlines__link p {
    font-family: montserrat-semibold;
    font-size: 2.5rem;
    color: #1f51ff;
  }
  .airlines__items {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  .airlines__items__box {
    width: 30rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #c9c9c9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
  }
  .airlines__items__box .comm {
    position: absolute;
    left: 100%;
    border: 1px solid #1f51ff;
    border-radius: 0 1rem 0 1rem;
    color: #1f51ff;
    position: absolute;
    left: 85%;
    top: -3%;
    background-color: white;
    z-index: 2;
    padding: 1rem;
  }
  .airlines__items__box .item__title {
    display: flex;
    gap: 2rem;
  }
  .airlines__items__box .item__title__img img {
    width: 3rem;
  }
  .airlines__items__box .item__title__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .airlines__items__box .item__title__text .airline__name {
    font-family: whitney-semibold;
    font-size: 2rem;
  }
  .airlines__items__box .item__title__text .airline__country {
    font-family: whitney-book;
    font-size: 1.2rem;
  }
  .airlines__items__box .item__bottom {
    display: flex;
    flex-direction: column;
  }
  .airlines__items__box .item__bottom__region {
    display: flex;
    gap: 1rem;
  }
  .airlines__items__box .item__bottom__region .jq {
    color: white;
    background-color: #1f51ff;
    padding: 1px 5px;
    font-family: montserrat-semibold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
  .airlines__items__box .item__bottom__region .region {
    font-family: montserrat-medium;
    font-size: 1.2rem;
    color: #989898;
  }
>>>>>>> 87d69350c0051ba86342d36e8d7c603d06698a44
}/*# sourceMappingURL=Style.css.map */