$black--clr : #000000 ; 
$neon__blue--clr : #1f51ff ; 
$gray__80--clr : #464646 ; 
$gray__60--clr : #989898 ; 
$gray__30--clr : #c9c9c9 ; 
$gray__10--clr : #f2f8ff ; 
$primary__red--clr : #ea0c31 ; 
$primary__orange--clr : #fc6334 ; 

